//@import 'vendor/reset';
@import 'vendor/bootstrap-grid';

body {
    font-size: 18px;
    font-family: arial;
    background: #778DEC;
}

th {
  text-align: left;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

table td,
table th {
  border: 2.0pt double windowtext;
}

.ageGroupHeader {
  font-size: 20px;
}
.dateHeader {
  font-size: 18px;
}
